{% extends "base.html" %}
{% load i18n %}

{% block menu %}
	<a href="/">{% trans 'Home' %}</a>
	<a href="/story">{% trans 'Stories' %}</a>
	{% trans 'Contents' %}
	<a href="/storysession">{% trans 'StorySessions' %}</a>

{%endblock menu%}

{% block content %}
	<br />
	Do you want to create <a href="/content/new/input">{% trans 'new' %}</a>?

	<ul/>
	{%for b in contents %}
		<li><a href="/content/{{ b.keyid }}">{{ b.nameen }}</a> &nbsp;&nbsp;&nbsp;&nbsp;{{b.part}}. {{b.nameko}} - <a href="/content/{{ b.keyid }}/update/input">modify</a> <a href="{{ b.keyid }}/del">del<a/><br \>
	{%endfor%}
	</ul>
{% endblock content %}

