{% extends "base.html" %}
{% load i18n %}

{% block menu %}
	{% if passed %}
		{% trans 'Home' %}
		<a href="/category">{% trans 'Categories' %}</a>
		<a href="/story">{% trans 'Stories' %}</a>
		<a href="/page">{% trans 'Pages' %}</a>
		<a href="/content">{% trans 'Contents' %}</a>
		<a href="/play/new/input">{% trans 'Play' %}</a>
		{% ifequal mode 2 %}
			<a href="/link">{% trans 'Links' %}</a>
			<a href="/apitest">{% trans 'API' %}</a>
		{% endifequal %}
	{% endif %}
{%endblock menu%}

{% block content %}
	{% if accountid %}
		{% trans 'Hello' %}, <a href="/{{accountid}}/">{{accountid}}</a> /
		{% if passed %}
			<a href="/account/logout">{% trans 'logout' %}</a>
			<br \>
			Source : <a href="https://bitbucket.org/zedoul/trendy-gae">Bitbucket</a>
		{% else %}
			<a href="/account/logout">{% trans 'logout' %}</a>
		{% endif %}
		<br \>
		* support : support@scipi.net
	{% else %}
		<a href="/account/fblogin">{% trans 'fblogin' %}</a>
		<a href="/account/weblogin/input">{% trans 'weblogin' %}</a>
	{% endif %}<br \>
	<br \>
{% endblock content %}
{% block script %}{% endblock script %}
